<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test">
        <activity android:name=".PersonalInformationActivity"></activity>
        <activity android:name=".SettingActivity" />
        <activity android:name=".RiskListDetailActivity" />
        <activity android:name=".RiskListActivity" />
        <activity android:name=".SafetyEduDetailActivity" />
        <activity android:name=".AnnouncementDetailActivity" />
        <activity android:name=".SafetyEduActivity" />
        <activity android:name=".AnnouncementActivity" />
        <activity android:name=".ReportingRiskEndActivity" />
        <activity android:name=".ChooseLocationActivity" />
        <activity android:name=".ReportingRiskNextActivity" />
        <activity android:name=".ReportingRiskActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBsXUUDlgVEszXVsWn9b_b5FPo2Bl05bQ4" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".MedicalDetailActivity" />
        <activity android:name=".MedicalActivity" />
        <activity android:name=".LanguageSettingActivity" />
        <activity android:name=".AlarmSettingActivity" />
        <activity android:name=".ContactEditActivity" />
        <activity android:name=".ContactAddActivity" />
        <activity
            android:name=".ContactRBGActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".EmergencyContactActivity" />
        <activity android:name=".RiskInfoAndWeatherActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>